.HiddenCheckInput {
    input + div {
        --shadowWidth: 2px;
        i {
            // transform: translate(-7%, -30%) scale(0);
            transform: translate(-7%, -9%) scale(0);
            opacity: 0;
            // text-shadow: 
            //     3px 0 0 #fff, 
            //     -3px 0 0 #fff, 
            //     0 3px 0 #fff, 
            //     0 -3px 0 #fff, 
            //     1.5px 1.5px #fff, -
            //     1.5px -1.5px 0 #fff, 
            //     1.5px -1.5px 0 #fff, 
            //     -1.5px 1.5px 0 #fff;
        }
    }
    
    input:checked + div {
        @apply border-red-500 border-opacity-0 bg-red-500 bg-opacity-30;
        
        i {
            @apply text-red-500;
            transform: translate(-9%, -9%) scale(1);
            opacity: 1;
        }
    }
}

.InputCheckbox {
    & + & {
        margin-top: -1rem;
    }
}