.mainMenu {
    // min-width: 74px;
}

.screen {
    --offset: calc(66px + 4px);
    
    @media (min-width: 1024px) {
        width: calc(100vw - var(--offset));
        margin-left: var(--offset);
    }
}